ul {
    list-style-type: none;
  }
  
  li {
    margin-top: 5px;
  }
a {
  margin-left: 5px;
  margin-right: 5px;
}

table{
  margin-top: 20px;
}

th, td{
  text-align: center;
}

.name{
  width: 50%;
}

.balance{
  width: 30%;
}